# Late blight prediction for the Columbia Basin of Washington

# Date: 4/7/2021

# Authors:
- Original models were developed by Dennis Johnson and colleagues:
    - Johnson DA, Alldredge JR, and Vakoch DL. 1996. Potato late blight forecasting models for the semiarid environment of south-central Washington. Phytopathology 86:480-484. https://www.apsnet.org/publications/phytopathology/backissues/Documents/1996Articles/Phyto86n05_480.PDF
    - Johnson DA, Alldredge JR, and Hamm PB. 1998. Expansion of potato late blight forecasting models for the Columbia Basin of Washington and Oregon. Plant Dis. 82:642-645. https://apsjournals.apsnet.org/doi/pdfplus/10.1094/PDIS.1998.82.6.642
    - Johnson DA, Cummings TF, Abi Ghanem R, and Alldredge JR. 2009. Association of solar irradiance and days of precipitation with incidence of potato late blight in the semiarid environment of the Columbia Basin. Plant Dis. 93:272-280. https://apsjournals.apsnet.org/doi/pdfplus/10.1094/PDIS-93-3-0272
    - Johnson DA, and Cummings TF. 2016. In-canopy environment of sprinkler irrigated potato fields as a factor for late blight management in the semiarid environment of the Columbia Basin. Am J. Potato Res: 93:239-252 https://link.springer.com/article/10.1007/s12230-016-9500-1

**Script written by: David Linnard Wheeler and Sudha GC Upadhaya**

# Objectives

**Predict late blight epidemics in the Columbia Basin of Washington State**

# Risk

**Risk of late blight is the product of 5 factors**

**Risk** = **A** (phenology) $\cdot$ **B** (occurrence of late blight in field or adjacent fields) $\cdot$ **C** (probability of late blight occurrence in the Columbia Basin (PROB)) $\cdot$ **D** (date) $\cdot$ **E** (number of rainy days expected in the next 7 days)

### A (phenology)

**Source of information: growers**

| Factor level | Factor value |
| --- | --- |
| Pre-emergence | 0 |
| Emergence to before plant closure between rows | 0 |
| Plant closure between rows (foliage touching between adjacent rows) | 1 |
|Post row closure to harvest | 1 |

### B (occurrence of late blight in field or adjacent fields within 5 mile radius)

**Source of information: growers**

| Factor level | Factor value |
| --- | --- |
| No | 0 |
| Yes | 30 |

### C (probability of late blight occurrence in the Columbia Basin (PROB))

#### For the logistic regression models, the probability, $P$, of an outbreak is estimated:
$$
P = \frac{1}{1 + exp^{lf}}
$$

> - if 
$$  
P
\begin{cases}
  \geq 0.5 \rightarrow \text{ outbreak year} \\    
  < 0.5 \rightarrow \text{ non-outbreak year}
\end{cases}
$$

| Factor level | Factor value |
| --- | --- |
| < 50% | 0 |
| $\geq$ 50% | 4 |

### D (date)

**Source of information: internet**

| Factor level | Factor value |
| --- | --- |
| December - April | 0 |
| May, July - November | 1 |
| June | 3J |

### E (number of rainy days expected in the next 7 days) (> 30% probability)

**Source of information: Rain forecasts from Fox Weather LLC. A rain probability of 30% has arbitrarily been used to indicate rain**

| Factor level | Factor value |
| --- | --- |
| 0 rainy days expected | 1 |
| 1 rainy days expected | 2 |
| 2 rainy days expected| 4 |
| 3 or more rainy days expected| 5 |

In [1]:
import os
import pandas as pd
import numpy as np
import datetime

**A**

In [44]:
while True:
    try:
    # Request user input
        A = input("What is the phenology of the potato field?\n \
                 A) Pre-emergence\n \
                 B) Emergence to before plant closure between rows\n \
                 C) Plant closure between rows (foliage touching between adjacent rows)\n \
                 D) Post row closure to harvest\n")
        A = A.upper()
    # If Risk Factor (RF) A is option "A" or option "B"
        if (A == "A") or (A == "B"):
        # Set RF to 0
            A = 0
            break
    # Else, RF is "C" or "D" and
        elif (A == "C") or (A == "D"):
        # Set it to 1
            A = 1
            break
    #Else, RF is no of the above return warning
        else: 
            print('Please, Enter the valid option!!')  
    except ValueError:
        # Break
        break

What is the phenology of the potato field?
                  A) Pre-emergence
                  B) Emergence to before plant closure between rows
                  C) Plant closure between rows (foliage touching between adjacent rows)
                  D) Post row closure to harvest
 b

**B**

In [45]:
while True:
    try:
    # Request user input
        B = input("Is late blight present within a 5 mile radius?\n \
                 A) No\n \
                 B) Yes\n")
        B = B.upper()
    # If Risk Factor (RF) B is option "A"
        if (B == "A") :
        # Set RF to 0
            B = 0
            break
    # Else, RF is "B" and
        elif (B == "B"):
        # Set it to 30
            B = 30
            break
    #Else, RF is no of the above return warning
        else: 
            print('Please, Enter the valid option!!')
    except ValueError:
        # Break
        break

Is late blight present within a 5 mile radius?
                  A) No
                  B) Yes
 a

**C**

**Rainy days for April**

In [21]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/LateBlight/Data/2021/Week1/')
df_othello = pd.read_csv('Othello.csv')
df_prosser = pd.read_csv('Prosser.csv')
df_tricities = pd.read_csv('Tricities.csv')

In [22]:
df_othello['Station'] = 'Othello'
df_prosser['Station'] = 'Prosser'
df_tricities['Station'] = 'Tricities'

In [23]:
df_AM = pd.concat([df_othello, df_prosser, df_tricities])
df_AM.head()

,Date,Date.1,Min°F,Avg°F,Max°F,Avg1.5m DP°F,Avg1.5m RH%,Avg1.5m LWu.,AvgDir,Avg Speedmph,2m MaxGustmph,2 in.°F,Min°F.1,Avg°F.1,TotPrecin,TotalSolarRadMJ/m²,EToin,ETrin,Station,Avg2m Atm.PressinHg
0,4/1/2021,1,31.6,50.1,65.7,28.8,45.7,0.0,E,5.0,17.5,NaN,45.6,47.6,0,16.87,0.13,0.19,Othello,NaN
1,4/2/2021,2,33.0,51.7,63.6,32.3,49.9,0.0,E,4.7,14.6,NaN,47.9,49.7,0,16.91,0.12,0.16,Othello,NaN
2,4/3/2021,3,38.5,51.0,62.3,31.9,49.6,0.0,E,4.7,12.8,NaN,27.7,49.4,0,14.47,0.12,0.16,Othello,NaN
3,4/4/2021,4,38.0,49.7,58.5,31.7,51.5,0.0,E,9.3,23.9,NaN,-1.2,47.6,0,13.32,0.13,0.19,Othello,NaN
4,4/5/2021,5,33.5,46.4,58.5,22.0,40.5,0.0,NE,6.7,17.1,NaN,-15.3,44.6,0,22.39,0.15,0.21,Othello,NaN

In [24]:
df_AM = df_AM[['Date', 'TotPrecin','Station']]#subset only three columns
print(df_AM.shape)
df_AM.head()

(90, 3)

       Date  TotPrecin  Station
0  4/1/2021          0  Othello
1  4/2/2021          0  Othello
2  4/3/2021          0  Othello
3  4/4/2021          0  Othello
4  4/5/2021          0  Othello

**Calculate no. of days with rainfall event**

In [26]:
grouped = df_AM[df_AM['TotPrecin'].astype(bool)].groupby(['Station']).size().reset_index(name = 'RainyDays')#calcuate rainy days for each location
grouped

Empty DataFrame
Columns: [Station, RainyDays]
Index: []

**Subset no.of rainy days for each location**

In [27]:
RD_April_Othello = np.array(grouped['RainyDays'][(grouped['Station']=='Othello')])
RD_April_Prosser = np.array(grouped['RainyDays'][(grouped['Station']=='Prosser')])
RD_April_Tricities = np.array(grouped['RainyDays'][(grouped['Station']=='Tricities')])

In [28]:
RD_April_Othello =0
RD_April_Prosser = 0
RD_April_Tricities= 0

### Forecast May and June (Monthly)

In [29]:
df_forecast = pd.read_excel('C:/Users/sudha.gcupadhaya/Desktop/LateBlight/Data/2021/Week1//5-1_6-4.xlsx', engine='openpyxl')
print(df_forecast.shape)
df_forecast = df_forecast.iloc[4:41]
df_forecast.head()

(51, 8)

,Title: 30 Day Daily Rain Forecast for Three Stations in Southcentral Washington,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
4,DATE,Daynmbr,RAIN TRICITIES,TRICITIES,RAIN PROSSER 300033,PROSSER,RAIN OTHELLO 300122,OTHELLO
5,2021-05-01 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
6,2021-05-02 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
7,2021-05-03 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
8,2021-05-04 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO

In [30]:
df_forecast.columns = df_forecast.iloc[0]#rename column
df_forecast = df_forecast.drop([4])#drop forth row
df_forecast.head()

4,DATE,Daynmbr,RAIN TRICITIES,TRICITIES,RAIN PROSSER 300033,PROSSER,RAIN OTHELLO 300122,OTHELLO
5,2021-05-01 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
6,2021-05-02 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
7,2021-05-03 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
8,2021-05-04 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO
9,2021-05-05 00:00:00,NaN,0,TRICITIES,0,PROSSER,0,OTHELLO

In [31]:
df_forecast = df_forecast.loc[:, df_forecast.isnull().mean() < .8]
df_forecast.head()

4,DATE,RAIN TRICITIES,TRICITIES,RAIN PROSSER 300033,PROSSER,RAIN OTHELLO 300122,OTHELLO
5,2021-05-01 00:00:00,0,TRICITIES,0,PROSSER,0,OTHELLO
6,2021-05-02 00:00:00,0,TRICITIES,0,PROSSER,0,OTHELLO
7,2021-05-03 00:00:00,0,TRICITIES,0,PROSSER,0,OTHELLO
8,2021-05-04 00:00:00,0,TRICITIES,0,PROSSER,0,OTHELLO
9,2021-05-05 00:00:00,0,TRICITIES,0,PROSSER,0,OTHELLO

In [32]:
df_simple = df_forecast[["DATE","RAIN TRICITIES","RAIN PROSSER 300033", "RAIN OTHELLO 300122"]]
df_simple.head()

4                 DATE RAIN TRICITIES RAIN PROSSER 300033 RAIN OTHELLO 300122
5  2021-05-01 00:00:00              0                   0                   0
6  2021-05-02 00:00:00              0                   0                   0
7  2021-05-03 00:00:00              0                   0                   0
8  2021-05-04 00:00:00              0                   0                   0
9  2021-05-05 00:00:00              0                   0                   0

In [33]:
df_simple = df_simple.rename(columns={"RAIN TRICITIES": "TriCities",
                          "RAIN PROSSER 300033": "Prosser",
                         "RAIN OTHELLO 300122": "Othello"})
cols_to_check = ['TriCities', 'Prosser', 'Othello']
df_simple[cols_to_check] = df_simple[cols_to_check].replace({'>=':''}, regex=True)
df_simple.head()

4                 DATE TriCities Prosser Othello
5  2021-05-01 00:00:00         0       0       0
6  2021-05-02 00:00:00         0       0       0
7  2021-05-03 00:00:00         0       0       0
8  2021-05-04 00:00:00         0       0       0
9  2021-05-05 00:00:00         0       0       0

In [34]:
df_simple.index = pd.to_datetime(df_simple['DATE'],format='%m/%d/%y %I:%M%p')
df_simple.head()

4                          DATE TriCities Prosser Othello
DATE
2021-05-01  2021-05-01 00:00:00         0       0       0
2021-05-02  2021-05-02 00:00:00         0       0       0
2021-05-03  2021-05-03 00:00:00         0       0       0
2021-05-04  2021-05-04 00:00:00         0       0       0
2021-05-05  2021-05-05 00:00:00         0       0       0

In [35]:
df_simple = pd.DataFrame([pd.to_numeric(df_simple[i], downcast="float", errors='coerce') for i in df_simple.columns[1:4]]).T
df_simple.head()

            TriCities  Prosser  Othello
DATE
2021-05-01        0.0      0.0      0.0
2021-05-02        0.0      0.0      0.0
2021-05-03        0.0      0.0      0.0
2021-05-04        0.0      0.0      0.0
2021-05-05        0.0      0.0      0.0

In [36]:
df_RainyDays = (df_simple).astype(bool).groupby([df_simple.index.month]).sum().reset_index()
df_RainyDays

   DATE  TriCities  Prosser  Othello
0   5.0          6        7        3
1   6.0          4        2        2

In [37]:
df_RainyDays = df_RainyDays.melt(id_vars = ['DATE'], value_name = 'RainyDays')
df_RainyDays.columns = ['Month', 'Station', 'RainyDays']
df_RainyDays

   Month    Station  RainyDays
0    5.0  TriCities          6
1    6.0  TriCities          4
2    5.0    Prosser          7
3    6.0    Prosser          2
4    5.0    Othello          3
5    6.0    Othello          2

In [38]:
RF_May_Othello = np.array(df_RainyDays['RainyDays'][(df_RainyDays['Station']=='Othello') & (df_RainyDays['Month'] ==5)])
RF_May_Prosser = np.array(df_RainyDays['RainyDays'][(df_RainyDays['Station']=='Prosser') & (df_RainyDays['Month'] ==5)])
RF_May_Tricities = np.array(df_RainyDays['RainyDays'][(df_RainyDays['Station']=='TriCities') & (df_RainyDays['Month'] ==5)])

**Calculate diease probablilty for each location based on logistic regression equation**

#### Model 1: logistic regression

- **Othello**

> $lf = 4.723 - 3.561(Y_p) - 0.293(R_{am})$

In [40]:
lf_Othello = 4.723 - 3.561*1 - 0.293*(RD_April_Othello + RF_May_Othello)
print(lf_Othello)
Prob_Othello = 1 / (1 + np.exp(lf_Othello))
print('Probability of late blight occurence in Othello:')
print(Prob_Othello)

[0.283]
Probability of late blight occurence in Othello:
[0.42971844]

- **Prosser**

> $lf = 9.252 - 4.004(Y_p) - 0.660(R_{am})$

> where:

> $Y_p$: late blight outbreak during the preceding year:
$$  
Y_p
\begin{cases}
  \text{late blight absent in previous year/ no} = 0 \\    
  \text{late blight present in previous year/ yes} = 1 
\end{cases}
$$
> $R_{am}$: number of days with rain >= 0.25 mm during April and May

In [39]:
lf_Prosser = 9.252 - 4.004*1 - 0.660*(RD_April_Prosser+RF_May_Prosser)
print(lf_Prosser)
Prob_Prosser= 1 / (1 + np.exp(lf_Prosser))
print('Probability of late blight occurence in Prosser:')
print(Prob_Prosser)

[0.628]
Probability of late blight occurence in Prosser:
[0.34796417]

- **Tri-Cities**

> $lf = 2.987 - 3.062(Y_p) - 0.163(R_{am})$

In [41]:
lf_Tricities = 2.987 - 3.062*1 - 0.163*(RD_April_Tricities + RF_May_Tricities)
print(lf_Tricities)
Prob_Tricities = 1 / (1 + np.exp(lf_Tricities))
print('Probability of late blight occurence in Tricites:')
print(Prob_Tricities)

[-1.053]
Probability of late blight occurence in Tricites:
[0.74135057]

**C**

In [46]:
while True:
    try:
        
    # Request user input
        C = input("What is the probability of late blight occurrence in the Columbia Basin of Washington?\n \
                 A) <50% \n \
                 B) >50% \n")
        C = C.upper()
    # If Risk Factor (RF) C is option "A"
        if (C == "A") :
        # Set RF to 0
            C = 0
            break
    # Else, RF is "B" and
        elif (C == "B"):
        # Set it to 30
            C = 4
            break
    #Else, RF is no of the above return warning
        else: 
            print('Please, Enter the valid option!!')
    except ValueError:
        # Break
        break

What is the probability of late blight occurrence in the Columbia Basin of Washington?
                  A) <50%
                  B) >50%
 a

**D**

In [47]:
while True:
    try:
    # Request user input
        D = input("What is the date?\n \
                 A) December through April \n \
                 B) May, July - November \n \
                 C) June \n")
        D = D.upper()
    # If Risk Factor (RF) D is option "A"
        if (D == "A") :
        # Set RF to 0
            D = 0
            break
    # Else, if RF is "B" and
        elif (D == "B"):
        # Set it to 1
            D = 1
            break
    # Else, RF is "C" and
        elif (D == "C"):
        # Set it to 3J
            D = 3J
            break
    #Else, RF is no of the above return warning
        else: 
            print('Please, Enter the valid option!!')
    except ValueError:
        # Break
        break

What is the date?
                  A) December through April
                  B) May, July - November
                  C) June
 b

**E**

In [48]:
while True:
    try:
    # Request user input
        E = input("How many rainy days are expected to occur within the next 7 days?\n \
                 A) 0 rainy days expected \n \
                 B) 1 rainy days expected \n \
                 C) 2 rainy days expected \n \
                 D) 3 or more rainy days expected\n")
        E = E.upper()
    # If Risk Factor (RF) E is option "A"
        if (E == "A") :
        # Set RF to 1
            E = 1
            break
    # Else, if RF is "B" and
        elif (E == "B"):
        # Set it to 2
            E = 2
            break
    # Else, if RF is "C" and
        elif (E == "C"):
        # Set it to 4
            E = 4
            break
    # Else, if RF is "C" and
        elif (E == "D"):
        # Set it to 5
            E = 5
            break
    #Else, RF is no of the above return warning
        else: 
            print('Please, Enter the valid option!!')
    except ValueError:
        # Break
        break

How many rainy days are expected to occur within the next 7 days?
                  A) 0 rainy days expected
                  B) 1 rainy days expected
                  C) 2 rainy days expected
                  D) 3 or more rainy days expected
 a

**Calculate Risk factor**

In [49]:
Risk = A*B*C*D*E
print(Risk)

0

**Recommendation for the growers**

In [50]:
Risk = Risk.imag if type(Risk) == complex else Risk#change to imagery number is Risk is complex number

if Risk == 0:
    print('Recommendation: Late blight is not likely, fungicide application is not recommended. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight on regular bases.')

elif Risk >=1 and Risk <3:
    print('Recommendation: Late blight is not likely, fungicide application is not recommended. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')

elif Risk == 3:
    print('Recommendation: Apply fungicides on a 10-14 day schedule through July 4. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')

elif Risk == 6: 
    print('Recommendation: Apply fungicides on a 10 day schedule through July 4. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')

elif Risk >= 4 and Risk <6:
    print('Recommendation:  Apply late blight fungicide before any rainy period. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')


elif Risk >=8 and Risk <11:
    print('Apply late blight fungicide before any rainy periods and continue for 3 wks. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')

elif Risk == 12:
    print('Recommendation: Apply fungicides on a 7-10 day schedule and before any rainy periods through July 4. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')

elif Risk >=15 and Risk <30:
    print('Recommendation: Apply fungicides on a 7 day schedule and before any rainy periods through July 4. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight. Monitor fields for late blight on regular bases.')
    
elif Risk >= 30:
    print('Recommendataion: Confirm occurrence of late blight. If present, apply late blight fungicides on a 5 to 7 day schedule and continue until harvest. Avoid over watering and irrigation during and just after rainy, cool and cloudy weather. Harvest during dry weather. Sort out rotten tubers going into storage. Consult literature on recommendations for management of late blight in the field during late season in infected tubers in storage. ')

else:
    print('Oops!!')

Recommendation: Late blight is not likely, fungicide application is not recommended. Dispose of all cull or refuse tubers and manage volunteer potato plants, especially in fields were late blight occurred the last two years. Monitor fields for late blight on regular bases.

## Graveyard

#### Both April and May

In [4]:
os.chdir('C:/Users/sudha.gcupadhaya/Desktop/LateBlight/Data')
df_othello = pd.read_csv('Othello_AM_2020.csv')
df_prosser = pd.read_csv('Prosser_AM_2020.csv')
df_tricities = pd.read_csv('Tricities_AM_2020.csv')

In [5]:
df_othello['Station'] = 'Othello'
df_prosser['Station'] = 'Prosser'
df_tricities['Station'] = 'Tricities'

In [6]:
df_AM = pd.concat([df_othello, df_prosser, df_tricities])
df_AM.head()

,Date,Date.1,Min°C,Avg°C,Max°C,Avg1.5m DP°C,Avg1.5m RH%,Avg1.5m LWu.,AvgDir,Avg Speedm/s,2m MaxGustm/s,5 cm°C,Min°C.1,Avg°C.1,TotPrecmm,TotalSolarRadMJ/m²,ETomm,ETrmm,Station,Avg2m Atm.PresshPa
0,2020/04/01,1,-2.9,3.0,9.5,-2.1,72.0,0.02,W,2.6,7.0,NaN,6.1,7.3,0.0,15.50,1.97,2.64,Othello,NaN
1,2020/04/02,2,-4.3,3.2,10.2,-6.4,53.2,0.01,W,2.4,7.3,NaN,5.3,6.9,0.0,19.53,2.54,3.50,Othello,NaN
2,2020/04/03,3,-2.9,3.8,11.1,-5.3,56.7,0.00,SW,4.5,12.8,NaN,5.7,7.2,0.0,19.06,3.07,4.48,Othello,NaN
3,2020/04/04,4,-3.6,5.0,11.1,-5.4,51.0,0.00,NE,1.7,6.5,NaN,5.6,7.4,0.0,19.59,2.44,3.21,Othello,NaN
4,2020/04/05,5,3.0,7.4,13.5,1.3,68.3,0.00,N,2.4,6.8,NaN,7.6,8.7,0.0,14.91,2.47,3.33,Othello,NaN

In [7]:
df_AM = df_AM[['Date', 'TotPrecmm','Station']]#subset only three columns
df_AM['Month']= pd.DatetimeIndex(df_AM['Date']).month#create a new column for month using date 
df_AM.head()

         Date  TotPrecmm  Station  Month
0  2020/04/01        0.0  Othello      4
1  2020/04/02        0.0  Othello      4
2  2020/04/03        0.0  Othello      4
3  2020/04/04        0.0  Othello      4
4  2020/04/05        0.0  Othello      4

In [8]:
grouped = df_AM[df_AM['TotPrecmm'].astype(bool)].groupby(['Station', 'Month']).size().reset_index(name = 'RainyDays')#calculate rainy days
grouped

     Station  Month  RainyDays
0    Othello      4          1
1    Othello      5          6
2    Prosser      4          1
3    Prosser      5          9
4  Tricities      4          1
5  Tricities      5         10

In [9]:
RainDays_April_Othello = np.array(grouped['RainyDays'][(grouped['Station']=='Othello') & (grouped['Month'] ==4)])#extract no.of rainy days for each month and location
RainDays_May_Othello = np.array(grouped['RainyDays'][(grouped['Station']=='Othello') & (grouped['Month'] ==5)])
RainDays_April_Prosser = np.array(grouped['RainyDays'][(grouped['Station']=='Prosser') & (grouped['Month'] ==4)])
RainDays_May_Prosser = np.array(grouped['RainyDays'][(grouped['Station']=='Prosser') & (grouped['Month'] ==5)])
RainDays_April_Tricities = np.array(grouped['RainyDays'][(grouped['Station']=='Tricities') & (grouped['Month'] ==4)])
RainDays_May_Tricities = np.array(grouped['RainyDays'][(grouped['Station']=='Tricities') & (grouped['Month'] ==5)])